<div class="preview">
  <div style='display:none' id='display-icons'>
  <%= icon_selector('icon-add') %>
  </div>
  <div id="title" width="300px"><%= _('Link tree preview') %></div>
  <%= link_to_function(_('New link'), "add_root()", :id=>'new-link' ,:class => 'button icon-add with-text') %>

  <form id="link_tree_form" name="link_tree_form" method="post">
    <div id="preview-tree">
    </div>
  </form>
</div>
