<h1>Relate CSV fields with Enterprise attributes</h1>	
<div>
	<span>CSV fields:&nbsp</span>
	<span>Enterprise fields:</span>
</div>

<% values = Enterprise.new.attributes.keys %>

<% form_tag(:action => 'confirm_fields') do%>
	<% @csv['header'].each do |item| %>
		<div>
			<%= labelled_form_field( item,
					select_tag("relations[#{item}]",
						options_for_select(values)
					)
				)%>
		</div>
	<% end %>
	<%= submit_tag _("Continue") %>
<% end %>


