<h1>File Upload</h1>
<%= form_tag ({:action => 'select_fields'}, :multipart => true) %>
<%= labelled_form_field( _('Select file:'), file_field('upload', :csv, :accept => 'text/csv') ) %>
<%= submit_tag _("Upload") %>

